.jumbotron{
  margin-top: 100px;
  background-color:purple;
  color: white;
  text-align: center;
}
.navbar{
  background-color: green;
}

.navbar a{
  color: white !important;
}

.row div{
  margin-bottom: 15px;
}